<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.comune.scafati"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />
    
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    
    <supports-screens android:smallScreens="true" 
		android:normalScreens="true" 
		android:largeScreens="true" 
		android:anyDensity="false" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.comune.scafati.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.comune.scafati.Activity_Amministrazione"
            android:label="Amministrazione"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.Holo.Light" >
            <intent-filter>
                <action android:name="android.intent.action.ICSDESIGN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.comune.scafati.Activity_CenniStorici"
            android:label="Cenni Storici"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.Holo.Light" >
            <intent-filter>
                <action android:name="android.intent.action.ICSDESIGN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.comune.scafati.Activity_InformazioniUtili"
            android:label="Informazioni Utili"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.Holo.Light" >
            <intent-filter>
                <action android:name="android.intent.action.ICSDESIGN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.comune.scafati.Activity_NewsEdEventi"
            android:label="News ed Eventi"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.Holo.Light" >
            <intent-filter>
                <action android:name="android.intent.action.ICSDESIGN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.comune.scafati.Activity_VisualizzatoreDocumento"
            android:label="Visualizzatore Documenti"
			android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light" >
            <intent-filter>
                <action android:name="android.intent.action.ICSDESIGN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.comune.scafati.Activity_SegnalazioneReclami"
            android:label="Segnalazioni e Reclami"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.Holo.Light" >
            <intent-filter>
                <action android:name="android.intent.action.ICSDESIGN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.comune.scafati.Activity_VisInfoUtili"
            android:label="Informazioni Utili"
			android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light" >
            <intent-filter>
                <action android:name="android.intent.action.ICSDESIGN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.comune.scafati.Activity_GalleriaFotografica"
            android:label="@string/title_activity_activity__galleria_fotografica"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.Holo.Light" >
            <intent-filter>
                <action android:name="android.intent.action.ICSDESIGN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.comune.scafati.Activity_About"
            android:label="Il Comune in Tasca"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.Holo.Light" >
            <intent-filter>
                <action android:name="android.intent.action.ICSDESIGN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
